{{ define "main" }}
  {{ partial "page-header" . }}

<!-- Features -->
{{ range $i, $e:= .Params.features }}
<section class="section-sm">
  <div class="container">
    <div class="row items-center justify-between">
      <div
        class="mb:md-0 {{ if not (modBool $i 2) }}
              md:order-2
            {{ end }} md:col-5 mb-6">
        {{ partial "image" (dict "Src" .image "Class" "rounded-full" "Alt" .title "DisplayXL" "520x" "DisplayLG" "425x" "DisplayMD" "360x") }}
      </div>
      <div
        class="{{ if not (modBool $i 2) }}
              md:order-1
            {{ end }} md:col-7 lg:col-6">
        <h2 class="mb-4">
          {{ .title | markdownify }}
        </h2>
        <p class="mb-8 text-lg">
          {{ .content | markdownify }}
        </p>
        <ul>
          {{ range .bulletpoints }}
          <li class="relative mb-4 pl-6">
            <i class="fa fa-check absolute left-0 top-1.5"></i>
            {{ . | markdownify }}
          </li>
          {{ end }}
        </ul>
        {{ with .button }}
        {{ if .enable }}
        <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
          {{ .label }}
          <i class="fa fa-arrow-right pl-2"></i>
        </a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Features -->
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-10">
          <div class="content">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </section>


<!-- Partners -->
{{ with site.GetPage "sections/partner" }}
{{ if .Params.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="md:col-10 lg:col-8 xl:col-6 mx-auto mb-12 text-center">
        <h2 class="mb-4">
          {{ .Title | markdownify }}
        </h2>
        <p>
          {{ .Params.description | markdownify }}
        </p>
      </div>
      <div class="col-12">
        <div class="flex flex-col md:flex-row items-center justify-center space-y-8 md:space-y-0 md:space-x-24">
          {{ range .Params.partners }}
            <div class="flex items-center justify-center">
              <a href="{{ .href }}" target="_blank">
                {{ partial "image" (dict "Src" .image "Class" "max-h-10 h-auto w-auto" "Alt" .name) }}
              </a>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Partners -->


{{ end }}

